name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Generate Firebase Config
        run: |
          sed -e "s|__VITE_FIREBASE_API_KEY__|${{ secrets.VITE_FIREBASE_API_KEY }}|g" \
              -e "s|__VITE_FIREBASE_AUTH_DOMAIN__|${{ secrets.VITE_FIREBASE_AUTH_DOMAIN }}|g" \
              -e "s|__VITE_FIREBASE_PROJECT_ID__|${{ secrets.VITE_FIREBASE_PROJECT_ID }}|g" \
              -e "s|__VITE_FIREBASE_STORAGE_BUCKET__|${{ secrets.VITE_FIREBASE_STORAGE_BUCKET }}|g" \
              -e "s|__VITE_FIREBASE_MESSAGING_SENDER_ID__|${{ secrets.VITE_FIREBASE_MESSAGING_SENDER_ID }}|g" \
              -e "s|__VITE_FIREBASE_APP_ID__|${{ secrets.VITE_FIREBASE_APP_ID }}|g" \
              -e "s|__VITE_FIREBASE_MEASUREMENT_ID__|${{ secrets.VITE_FIREBASE_MEASUREMENT_ID }}|g" \
              firebase.config.template.js > firebase.config.js


      - name: Build
        run: npm run build-only

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist